---
import Logo from "../../components/shared/Logo.astro";
import { AppBar } from '@skeletonlabs/skeleton-svelte';
import { SITE } from "@config";
import DrawerButton from "@components/shared/Drawer/DrawerButton.astro"
import Nav from "@shared/Nav.astro"
import { Github } from "lucide-svelte";
---
  
 
<AppBar shadow="shadow-2xl" slotTrail="!space-x-2" slotLead="space-x-4" transition:persist>
    <slot slot="lead">
			<a href="/" rel="prefetch" class="lg:!ml-0 w-[38px] lg:w-auto overflow-hidden" title="Go to Homepage">
                <Logo />
			</a>
            <h1 class="h2"><a href="/">{ SITE.title }</a></h1>
		
	</slot>
    <slot slot="trail">
		<section class="hidden flex-none lg:flex items-center space-x-4 !space-x-2">
			<Nav/>   
		</section>     
		<section class="hidden sm:inline-flex space-x-1">
			<a class="btn-icon hover:variant-soft-primary" href={`${SITE.socialMedia.find((platform) => platform.platform === "GitHub")?.link ?? "#"}`} target="_blank" rel="noreferrer">
				<Github>
			</a>
		</section>
		<DrawerButton>
	</slot>
</AppBar>
