<div class="relative">
    <a class=`btn hover:variant-soft-primary ${Astro.url.pathname === '/about' ? 'bg-primary-active-token':''}` href="/about">
        <span>About</span>
    </a>
</div>
<div class="relative">
    <a class=`btn hover:variant-soft-primary ${Astro.url.pathname === '/posts' ? 'bg-primary-active-token':''}` href="/posts">
        <span>Blog</span>
    </a>
</div>
<div class="relative">
    <a class=`btn hover:variant-soft-primary ${Astro.url.pathname === '/test' ? 'bg-primary-active-token':''}` href="/test">
        <span>Test</span>
    </a>
</div>