---
import Layout from '../layouts/PageLayout.astro';
import { Rating } from '@skeletonlabs/skeleton-svelte';
let starValue = $state(2);
---

<Layout title="Test">
   <h1 class="h1 inline-block" transition:name="title">Test page</h1>
   <p transition:name="intro">Test page for some of the Skeleton components</p>
   <Rating value={3.5} max={5}/>

    

</Layout>
