---
import { ArrowBigDownIcon } from "lucide-svelte";
import Logo from "./shared/Logo.astro";
import { SITE } from "@config";
---

<header
  id="hero"
  class="m-auto w-full py-24 sm:py-32 lg:pb-40 max-w-7xl px-6 lg:px-8"
>
  <div class="section-container">
    <div class="grid grid-cols-1 gap-4 md:gap-10 items-center">
      <div class="flex flex-col items-center text-center space-y-8">
        <Logo height={200} width={190} />
        <h1 class="h1 inline-block !text-5xl md:!text-6xl max-w-[600px]">
          {SITE.title}
        </h1>
        <p class="h2">{SITE.description.short}</p>
        <p class="!text-xl max-w-[475px]">
          {SITE.description.medium}
        </p>
        <div class="flex gap-4">
          <a
            href={`${SITE.socialMedia.find((platform) => platform.platform === "GitHub")?.link ?? "#"}`}
            class="btn variant-filled-primary"
          >
            <span>{SITE.title} on Github</span>
            <ArrowBigDownIcon />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
