---
import { Menu } from 'lucide-svelte';
---

<button id="drawerButton" class="btn-icon hover:variant-soft-primary lg:hidden" onclick="drawer.classList.toggle('closedDrawer');drawer.classList.toggle('openDrawer');">
    <Menu/>
</button>