<button id="drawerButton" class="btn-icon hover:variant-soft-primary lg:hidden" onclick="drawer.classList.toggle('closedDrawer');drawer.classList.toggle('openDrawer');">
    <i class="fa-solid fa-bars text-xl"></i>
</button>